ALERT_SMTP_HOST=******
ALERT_SMTP_PORT=000
ALERT_FROM_EMAIL=********@gmail.com
ALERT_TO_EMAIL=*****************
ALERT_EMAIL_PASSWORD=***************

SNOWFLAKE_ACCOUNT=***************
SNOWFLAKE_USER=***************
SNOWFLAKE_PASSWORD=***************
SNOWFLAKE_ROLE=***************